<ion-header [translucent]="true">
    
    <ion-toolbar color = "primary">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-grid >
    <ion-row >
      <ion-col width-100>
        <ion-list >
          <strong>Name: </strong> Sureya Farah
        </ion-list>
        <ion-list>
          <strong>Student ID: </strong> 101062225
        </ion-list>
        <ion-list>
          <strong>Description: </strong> Lab 10 Sensors: shows weather temperature in C, weather descrition and feels-like in the location entered by the user
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-content>
